.contactContainer {
  width: 100%;
  height: 90px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.contactContainer:hover,
.contactContainer:focus {
  border-color: var(--main-color)
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 215px;
  overflow: hidden;
}

.contactItem {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  max-width: 215px;
  overflow: hidden;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
}

.toasterSpan {
  text-align: center;
}

.toaster {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .contactItem {
    font-size: 18px;
  }
}