.contactContainer {
  width: 100%;
  height: 90px;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.contactWraper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 215px;
  overflow: hidden;
}

.contactItem {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  max-width: 215px;
  overflow: hidden;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
}

.contactBtn {
  min-width: 65px;
  padding: 5px 10px;
  height: 30px;
  border: 2px solid orangered;
  transition: background-color 250ms linear, border-color 250ms linear;
}

.contactBtn:hover.contactBtnConfirm {
  border-color: rgb(0, 0, 0);
  background-color: green;
}

.contactBtn:hover.contactBtnCancelBtn {
  border-color: rgb(0, 0, 0);
  background-color: red;
}

.contactBtn:hover.contactBtnEdit {
  border-color: rgb(0, 0, 0);
  background-color: yellow;
}

.tosterSpan {
  text-align: center;
}

.toaster {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .contactItem {
    font-size: 18px;
  }

  .contactBtn {
    font-size: 18px;
  }
}