.formContainer {
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.formWrap {
  display: flex;
  flex-direction: column;
}

.formInput {
  height: 26px;
  border: 2px solid gray;
  transition: border-color 250ms linear;
  outline: none;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 18px;
}

.formInput:hover,
.formInput:focus {
  border-color: rgb(0 255 55);
}

.formError {
  color: red;
  margin-bottom: 16px;
  font-size: 14px;
}

.formBtn {
  align-self: center;
  width: 80px;
  border: 2px solid rgb(134, 134, 134);
  transition: background-color 250ms linear, border-color 250ms linear;
}

.formBtn:hover.editBtn,
.formBtn:focus.editBtn {
  background-color: yellow;
  border-color: rgb(0, 0, 0);
}

.formBtn:hover.addBtn,
.formBtn:focus.addBtn {
  background-color: rgb(0 255 55);
  ;
  border-color: rgb(0, 0, 0);
}

@media screen and (min-width: 768px) {
  .formBtn {
    width: 140px;
    font-size: 18px;
  }
}