.formContainer {
  padding: 10px;
  border: 2px solid var(--base-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.formWrap {
  display: flex;
  flex-direction: column;
  transition: color 250ms linear;
}

.formWrap:hover label,
.formWrap:focus label {
  color: var(--main-color);
}

.formInput {
  height: 26px;
  border: 1px solid var(--border-color);
  transition: border-color 250ms linear;
  outline: none;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 18px;
}

.formInput:hover,
.formInput:focus {
  border-color: var(--main-color);
}

.formError {
  color: var(--error-color);
  margin-bottom: 16px;
  font-size: 14px;
}

.formBtn {
  align-self: center;
}