.gridList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media screen and (min-width: 375px) {
  .gridList {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) {
  .gridList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .gridList {
    grid-template-columns: repeat(4, 1fr);
  }
}