.container {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.title>span {
  color: var(--main-color);
  ;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}