.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 12px;
  gap: 10px;
}

.username {
  font-weight: 700;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.username>span {
  color: var(--main-color);
  margin-left: 5px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }

  .username {
    font-size: 18px;
  }
}